#metasearch-root {
  .icon-button {
    all: unset;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--color);
    & > svg {
      width: 20px;
      height: 20px;
      @media screen and (max-width: 768px) {
        height: 24px;
        width: 24px;
      }
      color: currentColor;
      fill: currentColor;
      stroke: currentColor;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    background-color: transparent;
    border: 0;
    outline: transparent;
    cursor: pointer;
    transition: all 0.15s ease-in-out;
    white-space: nowrap;
    -webkit-tap-highlight-color: transparent;
    flex: 1 0 auto;
    &:hover {
      filter: brightness(0.85);
      @media screen and (prefers-color-scheme: dark) {
        &.dark-invert {
          filter: invert(1) hue-rotate(180deg) brightness(0.85);
        }
      }

      background-color: rgba(0, 0, 0, 0.08);
    }
    &:active {
      -webkit-tap-highlight-color: transparent;
      filter: brightness(0.9);
      color: white;
      @media screen and (prefers-color-scheme: dark) {
        &.dark-invert {
          filter: invert(1) hue-rotate(180deg) brightness(0.9);
        }
      }
      background-color: var(--color);
    }
    &:focus {
      -webkit-tap-highlight-color: transparent;
      color: white;
      @media screen and (prefers-color-scheme: dark) {
        &.dark-invert {
          filter: invert(1) hue-rotate(180deg) brightness(0.7);
        }
      }
      background-color: var(--color);
    }
    @media screen and (max-width: 768px) {
      & > span {
        display: none;
      }
      padding: 0;
      min-width: 40px;
    }
    padding: 2px 5px;
    min-width: 32px;
    height: 100%;
  }
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
  transition: all 0.1s ease-in-out;
  height: 32px;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(8px);
  @media screen and (max-width: 768px) {
    height: 40px;
  }
  @media screen and (prefers-color-scheme: dark) {
    background-color: rgba(25, 25, 25, 0.7);
    color: rgba(255, 255, 255, 0.8);
    .dark-invert {
      filter: invert(1) hue-rotate(180deg);
    }
  }
  z-index: 999999999;
  box-shadow: 0px 0px 9px rgb(0 0 0 / 7%);

  #metasearch-close {
    box-shadow: -1px 2px 9px rgb(0 0 0 / 10%);
  }
  #metasearch-link-container {
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    box-sizing: border-box;
  }
  overflow-y: hidden;
}

body {
  position: relative !important;
}
